body {color: #000000; font-family: "Verdana", "Arial", "Helvetica", sans-serif; font-size: 0.8em;line-height:148%}
li { margin-bottom:1em!important; }
dd { margin-bottom:1em!important; }
.pub dd {margin-top:1em;padding:4px}
.pub blockquote {margin-right:30%;font-style:italic; font-size:-1}
.code {font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
    color: #333333;white-space: nowrap;
    border-radius: 3px;
    margin: 0px 2px;
    padding: 0px 5px;
    background-color: #F8F8F8; border: 1px solid #EAEAEA;padding: 2px}
h2 {margin-top: 2em;}
.selected {background-color:#ffffcc}
.copyrightnotice { font-size:-1; font-style:italic}
#spellinglink {
    font-size:50%
}
#spellingbox .spelling {
 width:50%;
 background-color:#FFFFFF;
 padding:4px;margin:4px;
 border:1px solid #EAEAEA
 }
 #coolwall{max-width:85%;}